/* border */

.border-none {
    border: none;
}

.border-radius-small {
    border-radius: 10px;
}

.border-radius-35px {
    border-radius: 35px;
}

.border-radius-top-left-50px {
    border-top-left-radius: 50px;
}

.border-radius-top-right-50px {
    border-top-right-radius: 50px;
}

.border-round {
    border-radius: 50%;
}

.rounded-button {
    border-radius: 50px;
}

.border-primary {
    border: var(--primary) solid 2px;
}

.border-none {
    border: none;
}

.border-surface {
    border: var(--surface) solid 2px;
}

.focused-border-primary:focus {
    border: var(--primary) solid 1px;
    outline: none;
}

.border-secondary {
    border: var(--secondary) solid 2px;
}
