/* border */

.border-none {
    border: none;
}

.border-radius-small {
    border-radius: 5px;
}

.border-round {
    border-radius: 50%;
}

.rounded-button {
    border-radius: 50px;
}

.border-primary {
    border: var(--primary) solid 2px;
}

.border-surface {
    border: var(--surface) solid 2px;
}

.border-border {
    border: var(--border) solid 1px;
}

.focused-border-primary:focus {
    border: var(--primary) solid 1px;
    outline: none;
}

.border-secondary {
    border: var(--secondary) solid 2px;
}
