/* color */

.color-primary {
    color: var(--primary);
    transition: 0.3s;
}

.color-surface {
    color: var(--surface);
    transition: 0.3s;
}

.color-text {
    color: var(--text);
    transition: 0.3s;
}

.color-background {
    color: var(--background);
    transition: 0.3s;
}

.color-border {
    color: var(--border);
    transition: 0.3s;
}

/* backgroundColor */

.bg-background {
    background-color: var(--background);
    transition: 0.3s;
}

.bg-primary {
    background-color: var(--primary);
    transition: 0.3s;
}

.bg-secondary {
    background-color: var(--secondary);
    transition: 0.3s;
}

.bg-blackish {
    background-color: var(--blackish);
    transition: 0.3s;
}

.bg-surface {
    background-color: var(--surface);
    transition: 0.3s;
}

/* hover */

.hover-primary:hover {
    color: var(--primary);
    transition: 0.3s;
}

.hover-background:hover {
    color: var(--background);
    transition: 0.3s;
}

.hover-bg-background:hover {
    background-color: var(--background);
    transition: 0.3s;
}

.hover-bg-surface:hover {
    background-color: var(--surface);
    transition: 0.3s;
}

.hover-bg-primary:hover {
    background-color: var(--primary);
    transition: 0.3s;
}
