/* Custom elements */

.screen {
    position: relative;
    display: flex;
    width: 100vw;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: start;
}

.banner-screen {
    position: relative;
    display: flex;
    width: 100vw;
    min-height: calc(100vh - 80px);
    align-items: center;
    justify-content: center;
}

