/* shadow */

.shadow {
    box-shadow: var(--shadow) 0 1px 3px;
}

.box-shadow-none {
    box-shadow: none;
}

.index-0 {
    z-index: 0;
}

.index-1 {
    z-index: 1;
}

.index-2 {
    z-index: 2;
}
