/* text */

.text-small {
    font-size: 12px;
}

.text-medium {
    font-size: 16px;
}

.text-large {
    font-size: 20px;
}

.text-extra-large {
    font-size: 90px;
}

.font-normal {
    font-weight: normal;
}

.font-bold {
    font-weight: 600;
}

.font-arial {
    font-family: Arial, serif;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-start {
    text-align: start;
}

.text-end {
    text-align: end;
}

.decoration-none {
    text-decoration: none;
}
