/* text */

/** font size */

.text-12px {
    font-size: 12px;
}

.text-16px {
    font-size: 16px;
}

.text-24px {
    font-size: 24px;
}

.text-40px {
    font-size: 40px;
}

.text-60px {
    font-size: 60px;
}

.text-120px {
    font-size: 120px;
}


/** fontweight */

.font-normal {
    font-weight: normal;
}

.font-400 {
    font-weight: 400;
}

.font-500 {
    font-weight: 500;
}

.font-600 {
    font-weight: 600;
}

.font-700 {
    font-weight: 700;
}

/** fonts */

.font-arial {
    font-family: Arial, serif;
}

.font-khand {
    font-family: 'Khand', sans-serif;
}

.font-poppins {
    font-family: 'Poppins', sans-serif;
}

/** other */

.letter-spacing-2px {
    letter-spacing: 2px;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-start {
    text-align: start;
}

.text-end {
    text-align: end;
}

.decoration-none {
    text-decoration: none;
}

.wrap {
    white-space: pre-wrap;
}
