/* text */

/** font size */

.text-16px {
    font-size: 16px;
}

.text-24px {
    font-size: 24px;
}

.text-40px {
    font-size: 40px;
}

.text-140px {
    font-size: 140px;
}







.font-normal {
    font-weight: normal;
}

.font-bold {
    font-weight: 600;
}

.font-arial {
    font-family: Arial, serif;
}

.font-khand {
    font-family: 'Khand', sans-serif;
}

.font-poppins {
    font-family: 'Poppins', sans-serif;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-start {
    text-align: start;
}

.text-end {
    text-align: end;
}

.decoration-none {
    text-decoration: none;
}

.wrap {
    white-space: pre-wrap;
}
