/* width */

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}

.w-65 {
    width: 65%;
}

.w-16px {
    width: 16px;
}

.w-24px {
    width: 24px;
}

.w-30px {
    width: 30px;
}

.w-40px {
    width: 40px;
}

.w-60px {
    width: 60px;
}

.full-screen-width {
    width: 100vw;
}

.w-200px {
    width: 200px;
}

.w-300px {
    width: 300px;
}

.w-400px {
    width: 400px;
}

.w-600px {
    width: 600px;
}

.w-700px {
    width: 700px;
}

.mw-1512 {
    max-width: 1512px;
}
