/* width */

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}

.w-65 {
    width: 65%;
}

.w-16px {
    width: 16px;
}

.w-24px {
    width: 24px;
}

.w-40px {
    width: 40px;
}

.full-screen-width {
    width: 100vw;
}

.w-400px {
    width: 400px;
}

.w-700px {
    width: 700px;
}

.mw-1920 {
    max-width: 1920px;
}
