@import "styles/colors.css";
@import "styles/flexbox.css";
@import "styles/height.css";
@import "styles/width.css";
@import "styles/shadow.css";
@import "styles/margin.css";
@import "styles/padding.css";
@import "styles/border.css";
@import "styles/cursor.css";
@import "styles/text.css";
@import "styles/animations.css";
@import "styles/shapes.css";
@import "styles/position.css";
@import "styles/custom-elements.css";


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  transition: 0.3s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --background: #F8F8FF;
  --primary: #0F52BA;
  --text: #000000;
  --blackish: #272727;
  --surface: #ffffff;
  --secondary: #E3E2DF
}

[data-theme='dark'] {
  --background: #272727;
  --primary: #4169E1;
  --text: #ffffff;
  --blackish: #F8F8FF;
  --surface: #000000;
  --secondary: #3b3b3b;
}
