body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --background: #F8F8FF;
  --primary: #f4661b;
  --text: #000000;
  --blackish: #272727;
  --surface: #ffffff;
  --secondary: #E3E2DF
}

[data-theme='dark'] {
  --background: #272727;
  --primary: #f4661b;
  --text: #ffffff;
  --blackish: #F8F8FF;
  --surface: #000000;
  --secondary: #3b3b3b;
}


/***** CUSTOM CSS *****/

/* flexbox */

.d-flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.aspect-1 {
  aspect-ratio: 1;
}

/* height */

.h-64px {
  height: 64px;
}

.h-100 {
  height: 100%;
}

/* width */

.w-100 {
  width: 100%;
}

.w-small {
  width: 16px;
}

.w-medium {
  width: 24px;
}

.w-large {
  width: 40px;
}

/* color */

.color-primary {
  color: var(--primary);
}

.hover-primary:hover {
  color: var(--primary);
  transition: 0.3s;
}

.color-surface {
  color: var(--surface)
}

.color-text {
  color: var(--text);
}

.bg-background {
  background-color: var(--background);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-blackish {
  background-color: var(--blackish);
}

.bg-surface {
  background-color: var(--surface);
}

/* shadow */

.shadow {
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px, rgba(0, 0, 0, 0.24) 0 1px 2px;
}

.index-0 {
  z-index: 0;
}

.index-1 {
  z-index: 1;
}

.index-2 {
  z-index: 2;
}


/* margin */

.m-0 {
  margin: 0;
}

.mt-10 {
  margin-top: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-50 {
  margin-left: 50px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}


/* padding */

.p-0 {
  padding: 0;
}

.p-5 {
  padding: 5px;
}

.p-10 {
  padding: 10px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-20 {
  padding-left: 20px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-20 {
  padding-right: 20px;
}

/* border */

.border-none {
  border: none;
}

.border-radius-small {
  border-radius: 5px;
}

.border-round {
  border-radius: 50%;
}

/* cursor */

.pointer {
  cursor : pointer;
}

/* text */

.text-small {
  font-size: 12px;
}

.text-medium {
  font-size: 16px;
}

.text-large {
  font-size: 20px;
}

.text-extra-large {
  font-size: 60px;
}

.font-normal {
  font-weight: normal;
}

.font-bold {
  font-weight: 600;
}

/* transition */

.transition-3 {
  transition: 0.3s;
}

/* forms */

.triangle {
  width: 0;
  height: 0;
  z-index: 0;
  border-style: solid;
  border-width: 60vh 100vw 0 0;
  border-color: var(--secondary) transparent transparent transparent;
  transform: rotate(0deg);
}


/* position */

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.transform-64px-top {
  transform: translate(0, -64px);;
}

.top-0 {
  top: 0
}
