@import "styles/colors.css";
@import "styles/flexbox.css";
@import "styles/height.css";
@import "styles/width.css";
@import "styles/shadow.css";
@import "styles/margin.css";
@import "styles/padding.css";
@import "styles/border.css";
@import "styles/cursor.css";
@import "styles/text.css";
@import "styles/animations.css";
@import "styles/shapes.css";
@import "styles/position.css";
@import "styles/custom-elements.css";
@import "styles/gap.css";


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  transition: 0.3s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --background: #EBF1FF;
  --primary: #3342F2;
  --secondary: #6C82FB;
  --tertiary: #000033;
  --text: #232323;
  --surface: #ffffff;
  --shadow: #0000004D;

}

[data-theme='dark'] {
  --background: #0D1015;
  --primary: #A8BDFD;
  --secondary: #3342F2;
  --tertiary: #06090D;
  --text: #EBF1FF;
  --surface: #ffffff;
  --shadow: #ffffff4D;
}
